# Data Types

In [1]:
# integers are whole numbers
# floats are decimals 

print("Hello")

a = 12546.1565
b = 123
c = 3/2

Hello

In [2]:
print(f'Type of a is : {type(a)}')
print(f'Type of b is : {type(b)}')
print(f'Type of c is : {type(c)}')

Type of a is : <class 'float'>
Type of b is : <class 'int'>
Type of c is : <class 'float'>

In [3]:
# Dictionaries are key:value pairs

Courses = {"Salesforce":1,"Data Science":2, "Data Analysis":3, "Sql":4}
Courses_1 = {"Salesforce":3,"Data Science":1, "Data Analysis":2, "Sql":4}

In [4]:
print(Courses) 
print(Courses_1) 
print(Courses["Data Science"])
Courses["Salesforce"]
Courses["Sql"]

{'Salesforce': 1, 'Data Science': 2, 'Data Analysis': 3, 'Sql': 4}
{'Salesforce': 3, 'Data Science': 1, 'Data Analysis': 2, 'Sql': 4}
2

4

In [5]:
# Boolean

Morning_Sun = True
Night_Sun = False
print(type(Night_Sun))
Morning_Sun

<class 'bool'>

True

In [6]:
# Sets have unordered values and unchangeable values (immutable)
Grocery = {"Tomatoes","Brocolli","Celery"}
# Add items to set but does not allow duplicates
Grocery.add("Butter")
Grocery.add("Celery") #duplicate
print(Grocery)
# Grocery[0] # Does not index

# Outut is in random order Why?

{'Celery', 'Butter', 'Tomatoes', 'Brocolli'}

In [7]:
# List values can be changed (mutable) and are ordered

Vehicles = ["Car","Bike","Truck"]

# can't add items to list. Tried ran into error
# Vehicles.add["Scooter"]

print(Vehicles)
Vehicles[0] #Doesn't print output
print(Vehicles[1],Vehicles[2])
Vehicles[0]

['Car', 'Bike', 'Truck']
Bike Truck

'Car'

In [8]:
# Tuples are ordered but are immutable
Office_days = ("Monday","Wednesday","Friday")
# Office_days.add("Tuesday") # Does not allow to add
print(Office_days)
Office_days[0]

('Monday', 'Wednesday', 'Friday')

'Monday'

In [9]:
# Length
print(len(Courses))

4

In [10]:
print(len(Grocery))
print(len(Vehicles))
print(len(Office_days))

4
3
3

In [11]:
# Flow Control
num = int(input("Enter a number : ")) # str was used instead of int hence the value was taken as string not integer

if num % 2 == 0:                      # Single = was used which assigns the value and not equates it
    print ("Even")
else:                                 # Semilcolon was missed for else statement
    print("Odd")                      # Odd did not have a closing quotes
    
# Ran the commands as in slide and troubleshooted from there. 4 error in comments above

Enter a number : 21
Odd

In [4]:
value = int(input("Enter any number from 0 to 9 : "))

if value > 5:
    print ("The number you entered is greater than 5")
else:
    print ("The number you entered is 5 or less than 5")

Enter any number from 0 to 9 : 5
The number you entered is 5 or less than 5