# Data Types

In [11]:
# integers are whole numbers
# floats are decimals 

print("Hello")

a = 12546.1565
b = 123
c = 3/2

Hello

In [18]:
print(f'Type of a is : {type(a)}')
print(f'Type of b is : {type(b)}')
print(f'Type of c is : {type(c)}')

Type of a is : <class 'float'>
Type of b is : <class 'int'>
Type of c is : <class 'float'>

In [65]:
# Dictionaries are key:value pairs

Courses = {"Salesforce":1,"Data Science":2, "Data Analysis":3, "Sql":4}
Courses_1 = {"Salesforce":3,"Data Science":1, "Data Analysis":2, "Sql":4}

In [66]:
print(Courses) 
print(Courses_1) 
print(Courses["Data Science"])
Courses["Salesforce"]
Courses["Sql"]

{'Salesforce': 1, 'Data Science': 2, 'Data Analysis': 3, 'Sql': 4}
{'Salesforce': 3, 'Data Science': 1, 'Data Analysis': 2, 'Sql': 4}
2

4

In [29]:
# Boolean

Morning_Sun = True
Night_Sun = False
print(type(Night_Sun))
Morning_Sun

<class 'bool'>

True

In [77]:
# Sets have unordered values and unchangeable values (immutable)
Grocery = {"Tomatoes","Brocolli","Celery"}
# Add items to set but does not allow duplicates
Grocery.add("Butter")
Grocery.add("Celery") #duplicate
print(Grocery)
# Grocery[0] # Does not index

# Outut is in random order Why?

{'Celery', 'Tomatoes', 'Butter', 'Brocolli'}

In [74]:
# List values can be changed (mutable) and are ordered

Vehicles = ["Car","Bike","Truck"]

# can't add items to list. Tried ran into error
# Vehicles.add["Scooter"]

print(Vehicles)
Vehicles[0] #Doesn't print output
print(Vehicles[1],Vehicles[2])
Vehicles[0]

['Car', 'Bike', 'Truck']
Bike Truck

'Car'

In [57]:
# Tuples are ordered but are immutable
Office_days = ("Monday","Wednesday","Friday")
# Office_days.add("Tuesday") # Does not allow to add
print(Office_days)
Office_days[0]

('Monday', 'Wednesday', 'Friday')

'Monday'

In [78]:
# Length
print(len(Courses))

4

In [81]:
print(len(Grocery))
print(len(Vehicles))
print(len(Office_days))

4
3
3

In [82]:
# Flow Control
num = int(input("Enter a number : "))

if num % 2 == 0:
    print ("Even")
else:
    print("Odd")
    
# Ran the commands as in slide and troubleshooted from there

Enter a number : 97568
Even